.user {
    margin-top: 15px;
    margin-bottom: 20px;
}

.name {
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.userPhoto {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
