.content img {
    width: 350px;
    border-radius: 10px;
}

.avatar {
    width: 200px!important;
}

.name {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
}
p {
    display: block;
    width: 200px;
}

.contact {
    margin-left: 10px;

}